{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Records{% endblock %}

{% block content %}

<h1>{{header}}</h1>
<form method="get">
  <div>
    <div>
      <!--  Our input will search by name of artist  -->
      <input type="text" name="name" placeholder="name" />
    </div>
    <div>
      <input type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a href="{% url 'record_list' %}">Clear Search</a>
  <a href="{% url 'record_create' %}">Add Record</a>
</form>
<div>
  {% for record in records %}
  <a href="{% url 'record_detail' record.pk %}">
    <div>
      <div>
        <figure>
          <img src="{{record.image}}" alt="{{record.name}}" />
        </figure>
      </div>
      <div>
        <p>{{record.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article>
    <div>
      <p>No Records</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}