{% extends 'base.html' %} {% block content %}
<div>
  <img src="{{record.image}}" alt="{{record.name}}" />
</div>
<div>
  <h1>{{record.name}}</h1><br>
  <h2>{{record.artist}}</h2>
</div>
<div>
  <div>
    <a href="{% url 'record_update' record.pk %}">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'record_delete' record.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div>
    <h3>Reviews</h3>
    <form action="{% url 'review_create' record.pk %}" method="post">
      {% csrf_token %}
      <div>
        <div>
          <input
            type="text"
            name="review"
            placeholder="Enter review here"
            required
          />
        </div>
        <div>
          <input 
            type="text"
            name="user"
            placeholder="Enter username here"
          />
        </div>
        <div>
          <input type="submit" value="Add Review" />
        </div>
      </div>
    </form>
    {% for review in record.reviews.all %}
    <div>
      <span>{{review.review}}</span><br>
      <span>- {{review.user}}</span>

    </div>
    {% empty %}
    <article>
      <div>
        <p>No Reviews Available</p>
      </div>
    </article>

    {% endfor %}
  </div>

  <div>
    <h4>Release Year: </h4>
    <p>{{record.year}}</p>
  </div>
</div>

{% endblock %}